<ion-view view-title="About Us">
  <ion-content>
      <div class="card">
          <div class="item item-divider">
              <h2>Our History</h2>
          </div>
          <div class="item item-text-wrap">
            <p>Started in 2016, Invitations App looks forward to be the most successful application related to events management, with features related not only
              to the invitations system, how to organize the events, plan all the tasks involved to each event
                separatedly and estimate the the costs for any specific event based on the quantities of guests.</p>
            <p>Moreover, with continued use, the users can establish an average line of costs and plans based on same types of events</p>
            <div class="well">
                <blockquote>
                    <p>This web site has helped me to improve the quality of services I often provide to my customers, enabling me to put all details of my events in one single place.</p>
                    <footer>João Tavares,
                        <cite title="Source Title">IT technician at MPDFT, Brazil</cite></footer>
                </blockquote>
            </div>
          </div>
      </div>
      <ul class="list list-inset">
        <li class="item item-divider">
            <h2>Corporate Leadership</h2>
        </li>
        <li class="item item-avatar item-text-wrap">
            <img src="img/joao.jpg" alt="João Tavares">
            <h3>João Tavares<h3>
            <h4>IT Technician at MPDFT</h4>
            <p>Since 1999 performing different IT roles, ranging from Tech Support to Web developer for the Alternative Ways to Prison Department at MPDFT (current).
              Owns a Bachelors degree in computing science at Universidade de Brasília.
              As a good brazilian, loves soccer and Feijoada.
            </p>
        </li>
      </ul>
    </ul>
  </ion-content>
</ion-view>
