<ion-view view-title="Contact Us">
  <ion-content>
        <div class="card">
           <div class="item item-divider">
              <h3>Location Information</h3>
           </div>
            <div class="item">
                <h2>Our Address</h2>
                <address>
                 Eixo Monumental, Praça do Buriti, Lote 2, <br>Edifício Sede do MPDFT<br>
                 Brasília, Distrito Federal<br>
                 Brazil<br>
                 <i class="icon ion-android-call"></i>: +55 61 3343 9500<br>
                 <i class="icon ion-android-mail"></i>:
                       <a href="mailto:setcoi@mpdft.mp.br">setcoi@mpdft.mp.br</a>
                </address>
            </div>
            <div>
                <div class="button-bar">
                    <a type="button" class="button button-assertive" href="tel:+556133439500"><i class="icon ion-android-call"></i> Call</a>
                    <a type="button" class="button button-light"><i class="icon ion-social-skype"></i> Skype</a>
                    <a type="button" class="button button-dark" href="mailto:setcoi@mpdft.mp.br"><i class="icon ion-android-mail"></i> Email</a>
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>
