<ion-view view-title="InvitationsApp - {{username}}">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Manage your Events
        </div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/event.jpg" alt="Create new events!">
            <h2>Create new Events and check those already created!</h2>
            <p>You can easily create, update and delete events, and check how many people/organizations have confirmed presence as well.</p>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
          Manage your Contacts
        </div>
        <div class="item item-thumbnail-left item-text-wrap">
             <img src="img/atomic-list-manager.png" alt="Uthappizza">
              <h2>Insert guests' information with ease</h2>
              <p>Are you trying to invite friends for a party? Or calling an entreprise's representative to a business event? No problem.
                InvitationsApp supports different types of guests.
              </p>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
          Invite them All!
        </div>
        <div class="item item-thumbnail-left item-text-wrap">
             <img src="img/drawable-xxxhdpi-icon.png" alt="Manage Events Easily!">
              <h2>Connect Guests to Events.</h2>
              <p>With all events and contacts created, it is very simple make appointments to an event, and issue invitations for all guests.</p>
        </div>
    </div>
  </ion-content>
</ion-view>
