<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Create New Event</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeEventForm()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="eventForm" name="eventForm" ng-submit="saveEvent(event)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="event.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Start Date</span>
          <input type="date" ng-model="event.startDate">
        </label>
        <label class="item item-input">
          <span class="input-label">End Date</span>
          <input type="date" ng-model="event.endDate">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirmation Until</span>
          <input type="date" ng-model="event.confirmationDeadlineDate">
        </label>
        <label class="item item-input">
          <span class="input-label">Photo</span>
          <input type="text" ng-model="event.photo">
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <textarea ng-model="event.description"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
