<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Create new Guest</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeGuestForm()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="guestForm" name="guestForm" ng-submit="saveGuest(guest)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="guest.name">
        </label>
        <label class="item item-input">
          <span class="input-label">E-mail</span>
          <input type="text" ng-model="guest.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Phone</span>
          <input type="tel" ng-model="guest.phone">
        </label>
        <label class="item item-input">
          <span class="input-label">Photo</span>
          <input type="text" ng-model="guest.photo">
        </label>
        <label class="item">
          <button class="button button-block button-assertive" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
