<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Update Customer</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeCustomer()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="saveCustomer(customer)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="customer.firstname">
        </label>
         <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="customer.lastname">
        </label>
         <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="customer.username">
        </label>
        <label class="item item-input">
           <span class="input-label">E-mail</span>
           <input type="email" ng-model="customer.email">
         </label>
         <label class="item item-input">
            <span class="input-label">Photo</span>
            <input type="text" ng-model="customer.photo">
          </label>
        <label class="item">
          <button class="button button-block button-assertive" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
